<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="row">
      <header>
        <%= render 'layouts/header' %>
      </header><!-- end of header -->
    </div>

    <section class="row">
      <div class="documentation">
        <div class="notice">
          <%= flash[:notice] %>
        </div>
        <div class="alert">
          <%= flash[:alert] %>
        </div>
      </div>
        <%= yield %>
    </section><!-- end of section -->


    <footer class="row">
      <%= render 'layouts/footer' %>
    </footer><!-- end of footer-->
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
